<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>empty</h1>

<form action="/interest/create/1" method="POST">
     <button type="submit" class="btn btn-primary">create</button>


</form>
<form action="/interest/delete/1" method="POST">
    <button type="submit" class="btn btn-primary">delete</button>
</form>

<form action="/interest/public" method="GET">
    <button type="submit" class="btn btn-primary">public</button>
</form>
<form action="/interest/all" method="GET">
    <button type="submit" class="btn btn-primary">all</button>
</form>
<form action="/interest/private" method="GET">
    <button type="submit" class="btn btn-primary">private</button>
</form>
</body>
</html>
