<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원가입</h1>

<div class = "mb-2">
    <form action="/user/info" method="POST">
        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
        <div class="mb-3">
            <label class="form-label text-white">nickname</label>
            <input type="text" class="form-control" name="nickname">
        </div>
        <div class="mb-3">
            <label class="form-label text-white">mentor/mentee</label>
            <input type="text" class="form-control" name="type">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>
